:root {
    // Base 
    --base-font-size: 18px;
    --text-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 5%);
    --width: 850px;

    // New Moon Colors (for code snippets)
    --nm-background: #2d2d2d;
    --nm-comment: #777c85;
    --nm-foreground: #b3b9c5;
    --nm-function: #ffffff;
    --nm-red: #f2777a;
    --nm-orange: #fca369;
    --nm-yellow: #ffd479;
    --nm-yellow-light: #ffeea6;
    --nm-green: #92d192;
    --nm-blue: #6ab0f3;
    --nm-aqua: #76d4d6;
    --nm-purple: #e1a6f2;
    --nm-beige: #ac8d58;
  }